.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 5%;
	right: 3%;
	padding: 20px;
	border-radius: 30px;
	z-index: 1024;
}

.navbar input {
	width: 40px;
	height: 40px;
	opacity: 0;
	cursor: pointer;
}

.navbar span {
	position: absolute;
	left: 25px;
	top: calc(50% - 10px);
	width: 35px;
	height: 5px;
	border-radius: 14px;
	background-color: #fb7299;
	/* 元素永远不会成为鼠标事件的target（目标 */
	pointer-events: none;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}

.navbar span:nth-child(3) {
	top: calc(50% + 6px);
}

.navbar ul {
	margin-left: 20px;
	justify-content: center;
	background-color: palevioletred;
	display: flex;
	width: 20px;
	overflow: hidden;
	border-radius: 10px;
	padding:5px 5px 3px 25px;
	white-space: nowrap;
	transition: all 0.5s;
}

.navbar ul li {
	list-style: none;
	margin: 0 15px;
}

.navbar ul li a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	color: #333;
}

.navbar ul li a:hover {
	color: #609dbf;
}

.navbar input:checked~ul {
	width: 200px;
}

.navbar input:checked~span:nth-child(2) {
	top: calc(50% - 2px);
	transform: rotate(-45deg);
	background-color: #fb7299;
	/* 先执行top再执行transform */
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3;
}

.navbar input:checked~span:nth-child(3) {
	top: calc(50% - 2px);
	transform: rotate(45deg);
	background-color: #fb7299;
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3;
}
